/* This provides matching styles for select elements inside WC blocks on the frontend */
.wc-block-components-text-input select {
	color: #2b2d2f;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.125);

	display: block;
	width: 100%;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;

	font-size: 1em;
	font-weight: 400;
	line-height: 1;

	border: 1px solid #50575e;
	border-radius: 4px;

	height: 3em;
	text-indent: 16px;

	padding: 1.5em 0 0.25em;
	min-width: 200px;
}
